body {
	height: 100%;
	font-family: 'Amatic SC', cursive;
}

#div2 {
	padding: 45px 0 15px;
	width: 100%;
	border: 1px solid #ddd;
}

.wrapper {
	border: 6px double #ddd;
	text-align: center;
	margin: 0 auto;
	width: 70%;
}

.colour-mixer {
	display: flex;
	justify-content: space-around;
}

.shaker {	
	padding: 45px 0 15px;
	width: 49%;
}


.fruits a, .vegetables a {
	display: block;
	margin-top: 100px;
}	


.scroll {
	margin-top: 170px; 
	overflow: auto; 
	height: 600px;
	width: 25%;
}

@keyframes ants { to { background-position: 100% 100% } }

.scroll {
	padding: 1em;
	border: 1px solid transparent;
	background: linear-gradient(white, white) padding-box,
	repeating-linear-gradient(-45deg, #ddd 0, #ddd 25%, transparent 0, transparent 50%) 0 / .6em .6em;
	animation: ants 30s linear infinite;
}

h1 {	
	margin: 10px auto;
	font-size: 90px;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


a {
	cursor: pointer;
}




.slidecontainer {
	width: 100%;
}


.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;   
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	width: 50%;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: #4CAF50;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}


@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.img-shaker:hover {   
	animation: shake 0.5s;     
	animation-iteration-count: infinite; 
}

@keyframes changeColors
{
	0% { color: #ff99cc; }
	25% { color: #e06377; }
	50% { color: #f9d5e5; }
	100% { color: #eeac99; }
}

#S, #M {
	color: black;
	animation-name: changeColors;
	animation-duration: 10s;
	animation-direction: alternate;
	animation-iteration-count: infinite
}

h4, h3 {
	font-size: 30px;
}

.btn {
	font-size: 1rem;
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	-webkit-appearance: none;
	color: #555;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #ddd;
}

.btn:hover {
	background-color: #ddd;
	box-shadow: 1px 1px 3px 3px white;

}

.btn.active {
	background-color: #666;
	color: white;
	font-size: 15px;
}

#btnContainer {
	width: auto;
	height: 10%;
}

#div1, #div2 {
	cursor: pointer;
}
