body {
	height: 100%;
	font-family: 'Amatic SC', cursive;
}

#div2 {
	/*padding: 45px 0 15px;*/
	border: 1px solid #ddd;
	height: 185px;
	max-height: 800px;
	overflow: scroll;
}

.wrapper {
	border: 6px double #ddd;
	text-align: center;
	margin: 0 auto;
	width: 70%;
}

.colour-mixer {
	display: flex;
	justify-content: space-around;
}


#div1 img, #div2 img {
	display: block;
	width: 220px;
	height: 150px;
}	

.scroll { 
	overflow: auto; 
	padding: 1em;
	max-height: 650px;
	max-width: 250px;
}

h1 {	
	margin: 10px auto;
	font-size: 80px;
	text-align: center;
	color: #555;
}


a {
	cursor: pointer;
}


.slidecontainer {
	width: 100%;
}


.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;   
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	width: 50%;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: #4CAF50;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}


@keyframes changeColors
{
	0% { color: #EEEB92; }
	25% { color: #FDFD7D; }
	50% { color: #FDFD4F; }
	100% { color: #99D11D; }
}

#S, #M {
	color: black;
	animation-name: changeColors;
	animation-duration: 5s;
	animation-direction: alternate;
	animation-iteration-count: infinite
}

h4, h3 {
	font-size: 30px;
}

.btn {
	font-size: 1rem;
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	-webkit-appearance: none;
	color: #555;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #ddd;
}

.btn:hover {
	background-color: #E4F6FD;
	box-shadow: 1px 1px 3px 3px white;

}

.btn.active {
	background-color: #666;
	color: white;
	font-size: 15px;
}

#btnContainer {
	width: auto;
	height: 10%;
}

#div1 {
	cursor: pointer;
}

.fa-lemon {
	color: #CCF6FF;
	font-size: 30px;
	box-shadow: 2px #ced4da;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.btn-outline-success:hover {
	border: 1px solid #ddd;
	color: #555;
}

.form-control {
	color: #CCF6FF;
}

.img-shaker {
	width: 100%;
	height: 350px;
}

.card {
	border: 1px solid white;
}

.card-shaker img {
	width: 250px;
	height: auto;
	text-align: center;
	margin-bottom: 0px;
}

.ingredients img {
	margin-top: 25px;
}

.tile { 
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 350ms ease;
	transition: all 350ms ease;
}

.scale-anm {
	transform: scale(1);
}

.ingredients ul {
	display: none;
	list-style-type: none;
}

#div2 ul {	
	cursor: default;	  
	list-style-type: circle; 
	cursor: default;	
}

#div2 .first-vit {
	list-style-type: none;
	font-weight: bold;
	font-size: 20px;
}

#div2 p {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}